@import './variables.css';

.dflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.container {
  margin: 0 auto;
}

.indicator {
  position: absolute;
    top: -6px;
    left: 6px;
    z-index: 2;
    width: 14px;
    height: 14px;
    color: var(--white);
    background-image: linear-gradient(var(--lightBlue),var(--darkBlue));
    background-clip: padding-box;
    border: 2px solid var(--black);
    border-radius: 50%;
}